<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ years }}{{season}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
table, th, td {border: 1px solid black;
    border-collapse: collapse;}
    th, td {padding: 5px;}
</style>
<body>
<table style="width:100%">
    <tr>
        <th>Semester</th>
        <th>Department</th>
        <th>Title</th>
        <th>Section</th>
        <th>Units</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        </tr>
    {%for class in cursem %}
    <tr>
        <td>{{class.season}}</td>
        <td>{{class.department}}</td>
        <td>{{class.title}}</td>
        <td>{{class.section}}</td>
        <td>{{class.unit}}</td>
        <td>{{class.instructors}}</td>
        <td>{{class.meetings}}</td>
        {% endfor %}</tr></table>
</body>
</html>
