<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <img src="/images/oxy-seal.png" style="width:150px; height:150px;">
    <center>
    <td>
        <span style="color:#ff8800">Occidental</span> College
                </td>
    <header>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Semester</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Subject</u></header>
    <select class="term">
    <option>Select a term</option>
    <option value="SPR10">Spring 2010</option>
    <option value="SUM10">Summer 2010</option>
    <option value="FALL10">Fall 2010</option>
    <option value="SPR11">Spring 2011</option>
    <option value="SUM11">Summer 2011</option>
    <option value="FALL11">Fall 2011</option>
    <option value="SPR12">Spring 2012</option>
    <option value="SUM12">Summer 2012</option>
    <option value="FALL12">Fall 2012</option>
    <option value="SPR13">Spring 2013</option>
    <option value="SUM13">Summer 2013</option>
    <option value="FALL13">Fall 2013</option>
    <option value="SPR14">Spring 2014</option>
    <option value="SUM14">Summer 2014</option>
    <option value="FALL14">Fall 2014</option>
    <option value="SPR15">Spring 2015</option>
    <option value="SUM15">Summer 2015</option>
    <option value="FALL15">Fall 2015</option>
    <option value="SPR16">Spring 2016</option>
    <option value="SUM16">Summer 2016</option>
    <option value="FALL16">Fall 2016</option>
    <option value="SPR17">Spring 2017</option>
</select>
    <select class="dept">
    <option value="AMST">American Studies</option>
    <option value="ARAB">Arabic</option>
    <option value="ARTH">Art/History</option>
    <option value="ARTM">Art/Media</option>
    <option value="ARTS">Art/Studio</option>
    <option value="BICH">Biochemistry</option>
    <option value="BIO">Biology</option>
    <option value="CHEM">Chemistry</option>
    <option value="CHIN">Chinese</option>
    <option value="COGS">Cognitive Science</option>
    <option value="CSLC">Comparative Studies/Lit &amp; Cult</option>
    <option value="COMP">Computer Science</option>
    <option value="CTSJ">Critical Theory/Social Justice</option>
    <option value="CSP">Cultural Studies Program</option>
    <option value="DWA">Diplomacy and World Affairs</option>
    <option value="ECON">Economics</option>
    <option value="EDUC">Education</option>
    <option value="ENGL">English</option>
    <option value="FREN">French</option>
    <option value="GEO">Geology</option>
    <option value="GERM">German</option>
    <option value="GRK">Greek</option>
    <option value="HIST">History</option>
    <option value="JAPN">Japanese</option>
    <option value="KINE">Kinesiology</option>
    <option value="LATN">Latin</option>
    <option value="LLAS">Latino/a and Latin Amer Stud</option>
    <option value="LING">Linguistics</option>
    <option value="MATH">Mathematics</option>
    <option value="MUSC">Music</option>
    <option value="MUSA">Music Applied Study</option>
    <option value="ABAR">Occidental-in-Argentina</option>
    <option value="ABAU">Occidental-in-Australia</option>
    <option value="ABAS">Occidental-in-Austria</option>
    <option value="ABBO">Occidental-in-Bolivia</option>
    <option value="ABBW">Occidental-in-Botswana</option>
    <option value="ABBR">Occidental-in-Brazil</option>
    <option value="ABCI">Occidental-in-Chile</option>
    <option value="ABCH">Occidental-in-China</option>
    <option value="ABCR">Occidental-in-Costa Rica</option>
    <option value="ABCZ">Occidental-in-Czech Republic</option>
    <option value="ABDE">Occidental-in-Denmark</option>
    <option value="ABDR">Occidental-in-Dominican Repub</option>
    <option value="ABFR">Occidental-in-France</option>
    <option value="ABGE">Occidental-in-Germany</option>
    <option value="ABHU">Occidental-in-Hungary</option>
    <option value="ABIC">Occidental-in-Iceland</option>
    <option value="ABIN">Occidental-in-India</option>
    <option value="ABID">Occidental-in-Indonesia</option>
    <option value="ABIR">Occidental-in-Ireland</option>
    <option value="ABIT">Occidental-in-Italy</option>
    <option value="ABJA">Occidental-in-Japan</option>
    <option value="ABJO">Occidental-in-Jordan</option>
    <option value="ABMO">Occidental-in-Morocco</option>
    <option value="ABNZ">Occidental-in-New Zealand</option>
    <option value="ABNI">Occidental-in-Nicaragua</option>
    <option value="ABPE">Occidental-in-Peru</option>
    <option value="ABRU">Occidental-in-Russia</option>
    <option value="ABSM">Occidental-in-Samoa</option>
    <option value="ABSE">Occidental-in-Senegal</option>
    <option value="ABSA">Occidental-in-South Africa</option>
    <option value="ABSP">Occidental-in-Spain</option>
    <option value="ABSN">Occidental-in-Sweden</option>
    <option value="ABSW">Occidental-in-Switzerland</option>
    <option value="ABTN">Occidental-in-Taiwan</option>
    <option value="ABNT">Occidental-in-the-Netherlands</option>
    <option value="ABNA">Oxy-in-Netherlands Antilles</option>
    <option value="ABUA">Oxy-in-United Arab Emirates</option>
    <option value="ABUK">Oxy-in-the-United Kingdom</option>
    <option value="PHIL">Philosophy</option>
    <option value="PHAC">Physical Activities</option>
    <option value="PHYS">Physics</option>
    <option value="POLS">Politics</option>
    <option value="PSYC">Psychology</option>
    <option value="RELS">Religious Studies</option>
    <option value="RUSN">Russian</option>
    <option value="SOC">Sociology</option>
    <option value="SPAN">Spanish</option>
    <option value="OXAB">Study Abroad</option>
    <option value="THEA">Theater</option>
    <option value="UEP">Urban and Environmental Policy</option>
    <option value="WRD">Writing and Rhetoric</option>
</select>


<button onclick="view_department()">Go</button>
</center>
</body>
</html>
