<!DOCTYPE html>
<html>
<head>
<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:100%;
    width:100px;
    float:left;
    padding:5px;
}

</style>
</head>
<body>

<header>
<h1>Occidental College Department List</h1>
</header>

<nav><center>
    <a href="/">Back Home</a>
    <a href="http://www.oxy.edu/">Official Site</a>
    <a href="https://www.facebook.com/occidental/">Facebook Page</a>
    <a href="https://www.instagram.com/occidentalcollege/">Instagram</a></center></nav>

<section><center>{% for abbrev, name in departments %}
    <p><a href="/department/{{ abbrev }}"> {{ name }} </a></p>
        {% endfor %}</center>
</section>


</body>
</html>
