<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html><head><title>Years Available</title></head>

<body style="margin: 8px; padding: 0px; font-family: 'Georgia',georgia;">
<table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
<tr>

<!-- ============ HEADER SECTION ============== -->
<header class="main-header" role="banner">
<img src="http://i67.tinypic.com/zn4oit.jpg" alt="Banner Image" height="150" width= 100%/>
</header>

<td colspan="2" style="height: 90;" bgcolor="#000000">
<h1><center><font color="white">Occidental College Courses by Year</font></center></h1>
</td></tr>


<!-- ============ LEFT COLUMN (MENU) ============== -->

<td positon="fixed" width="15%" valign="top" bgcolor="#eeeeee">
    <center><a href="/">Back Home</a><p>
    <a href="http://www.oxy.edu/">Official Site</a><p>
    <a href="https://counts.oxy.edu">Offical Course Counts</a><p>
    <a href="https://www.facebook.com/occidental/">Facebook Page</a><p>
    <a href="https://www.instagram.com/occidentalcollege/">Instagram</a></center>
    <img style="position:fixed; bottom:10%; left:2%; width:150px; height:150px;
    "src="https://s.graphiq.com/sites/default/files/10/media/images/Occidental_College_173926.png">
</td>

<!-- ============ RIGHT COLUMN (CONTENT) ============== -->
<td width="80%" valign="top" bgcolor="#FFFFFF">
<h2><center>Select a Year</center></h2>
    <center>{% for abbrev, name in year %}<p>
    <a href="/year/{{ abbrev }}"> {{ name }} </a>
    {% endfor %}</center></td>

</table></body></html>
