<!DOCTYPE html>
<html>
<head>
<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width:1000px;
    float:left;
    padding:10px;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>
</head>
<body>

<header>
<h1>Occidental College Courses by Year</h1>
</header>

<nav>
    <a href="/">Back Home</a>
    <a href="http://www.oxy.edu/">Official Site</a><br>
    <a href="https://www.facebook.com/occidental/">Facebook Page</a><br>
    <a href="https://www.instagram.com/occidentalcollege/">Instagram</a></nav>

<section><center>
{% for abbrev, name in year %}
    <p><a href="/year/{{ abbrev }}"> {{ name }} </a></p>
    {% endfor %}
</center>
</section>

<footer>
Website designed by Leah, David, Julia, Sammy</footer>

</body>
</html>
